{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>KA1DEN | You are invited!</title>
    <link rel="stylesheet" href="{% static 'css/invitation.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Delius+Unicase:wght@400;700&family=Righteous&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap" rel="stylesheet">
</head>

<body>
    <div class="loader-wrapper">
        <div>
            <span>KA</span><span class="loader"></span><span>DEN</span>
        </div>
    </div>
    <div class="wrapper">
        <div class="content-wrapper">
            <div class="content-cover"></div>
            <div class="content">
                <img id="content-bg-teddy-1" src="{{S3_URL}}images/teddy-1.png">
                <img id="content-bg-teddy-2" src="{{S3_URL}}images/teddy-2.png">
                <img id="content-bg-teddy-3" src="{{S3_URL}}images/teddy-3.png">
                <img id="content-bg-paw-2" src="{{S3_URL}}images/paw.png">
                <img id="content-bg-star-1" src="{{S3_URL}}images/star.png">
                <img id="content-bg-star-2" src="{{S3_URL}}images/star.png">
                <img id="content-bg-circle-1" src="{{S3_URL}}images/circle.png">
                <img id="content-bg-circle-2" src="{{S3_URL}}images/circle.png">
                <img id="content-bg-circle-3" src="{{S3_URL}}images/circle.png">
                <div>
                    <div class="content-details">
                        <h2 id="header">a bear-y exciting birthday</h2>
                        <div class="image"></div>
                        <h1 id="name">KAIDEN ZYPH</h1>
                        <h3 class="subheader">IS TURNING ONE!</h3>
                        <div class="details">
                            <p>Join us on Saturday, 6th of September at 2 PM</p>
                            <p>Santan St., Prk. 28-B Kawayanan, Madaum</p>
                            <p>Tagum City (Coop B - Timog)</p>
                        </div>
                        <div class="full-width-center">
                            <button class="btn-pagination btn-next">More Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-page-2">
                <div>
                    <div class="content-details">
                        <div class="full-width-center">
                            <img id="content-bg-teddy-4" src="{{S3_URL}}images/teddy-3.png">
                        </div>
                        <h3 class="subheader">What to wear?</h3>
                        <div class="details">
                            <h4 class="margin-bottom-2">Feel free to wear anything as long as it's</h4>
                            <span class="colored-text" id="light-blue">Light Blue</span>
                            <span class="colored-text" id="light-brown">Light Brown</span>
                            <span class="colored-text" id="white">White</span>
                        </div>


                        <h3 class="subheader margin-top-2">Would you like directions to the venue?</h3>

                        <div class="full-width-center margin-top-2">
                            <button class="btn-pagination" id="open_maps">Open in Maps</button>
                        </div>

                        <div class="full-width-center">
                            <button class="btn-pagination btn-previous">Go Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel right">
            <div class="ribbon"></div>
        </div>
        <div class="panel left">
            <div class="ribbon"></div>
            <img class="teddy" src="{{S3_URL}}images/teddy-front.png">
        </div>
    </div>

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/circletype.js' %}"></script>
    <script src="{% static 'js/invitation.js' %}"></script>
</body>

</html>