* {
  box-sizing: border-box;
  font-family: 'Termina Test', sans-serif;
}

body {
  margin: 0;
  background: radial-gradient(circle at 25% 25%, #978879 14%, #897561 15%, #897561 20%, transparent 21%, transparent 100%), radial-gradient(circle at 75% 75%, transparent 11%, #897561 12%, #897561 17%, transparent 18%);
  background-size: 4em 4em;
  background-color: #978879;
  opacity: 1;
  color: white;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#wrapper {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#content {
  overflow: visible;
  width: 100%;
}

.text {
  position: fixed;
  top: 45dvh;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  text-align: center;
  width: 100%;
  transform: translateY(-100%);
  z-index: 2;
  color: white;
  -webkit-text-stroke-width: .02em;
  -webkit-text-stroke-color: white;
  z-index: -2;
  line-height: 0.9;
}

.outline-text {
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: white;
  z-index: 2;
}

.subtext {
  position: fixed;
  top: 50dvh;
  font-weight: 900;
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  transform: translateY(-100%);
  z-index: 2;
  color: white;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: white;
  z-index: -2;
}

.filter-text {
  mix-blend-mode: screen;
  color: #72bdec8a;
  z-index: 2;
}

.images {
  padding-top: 60dvh;
  position: relative;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  min-height: 150dvh;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(19, 4%);
  grid-template-rows: repeat(30, 3%);
  justify-content: center;
  justify-items: center;
  align-items: center;
  z-index: 1;
  object-fit: cover;
}

.content__slide-item {
  width: 100%;
  height: 100%;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1em;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  font-size: 1.5em;
  color: #ffffffc7;
  text-align: center;

  position: relative;
  font-family: "Unkempt", cursive;
}

.section-title::before,
.section-title::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid #ffffff49;
    margin: 0 1rem; /* space between line and text */
}

.section-title:nth-child(1) {
  grid-area: 1 / 1 / 3 / 20;
}

/* img:nth-child(1) {
  grid-area: 1/1/6/8;
} */

.ms-image:nth-child(1) {
  grid-area: 1/1/6/8;
}

.ms-image:nth-child(2) {
  grid-area: 3/12/8/20;
}

img:nth-child(3) {
  grid-area: 9/5/13/15;
}

img:nth-child(4) {
  grid-area: 14/1/18/8;
}

img:nth-child(5) {
  grid-area: 16/12/20/19;
}

img:nth-child(6) {
  grid-area: 20/2/25/9;
}

img:nth-child(7) {
  grid-area: 22/11/27/20;
}

@media (min-width: 320px) {
  .subtext {
    top: 49%;
    font-size: 1.5rem;
    letter-spacing: 1px;
    -webkit-text-stroke-width: .3px;
  }
}

@media (min-width: 768px) {
  .text {
    font-size: 8rem; /* tablet and up */
  }

  .subtext {
    top: 51%;
    font-size: 2.5rem;
    -webkit-text-stroke-width: .5px;
  }
}

@media (min-width: 1200px) {
  .text {
    font-size: 12rem; /* desktop */
  }

  .subtext {
    top: 54%;
    font-size: 4rem;
    -webkit-text-stroke-width: 1.5px;
  }
}